<!DOCTYPE html>
<html dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords"
    content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Matrix lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Matrix admin lite design, Matrix admin lite dashboard bootstrap 5 dashboard template" />
  <meta name="description"
    content="Matrix Admin Lite Free Version is powerful and clean admin dashboard template, inspired from Bootstrap Framework" />
  <meta name="robots" content="noindex,nofollow" />
  <title>Matrix Admin Lite Free Version Template by WrapPixel</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png" />
  <link href="/css/style.min.css" rel="stylesheet" />
  <style>
    body, html {
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #343a40;
    }

    .auth-box {
      width: 400px;
      padding: 30px;
      background-color: #212529;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
    }

    .input-group .input-group-text {
      border-radius: 0;
    }

    .input-group input {
      border-radius: 0;
    }
  </style>
</head>

<body>
  <div class="auth-box">
    <div id="loginform">
      <div class="text-center pt-3 pb-3">
        <span class="db"><img src="/images/logo.png" alt="logo" /></span>
      </div>
      <!-- Form -->
      <form class="form-horizontal mt-3" id="loginform" method="post" action="">
        <div class="row pb-4">
          <div class="col-12">
            <div class="input-group mb-3">
              <span class="input-group-text bg-success text-white" id="basic-addon1">
                <i class="mdi mdi-account fs-4"></i>
              </span>
              <input type="text" class="form-control form-control-lg" placeholder="email" name="email"
                aria-label="email" aria-describedby="basic-addon1" required />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text bg-warning text-white" id="basic-addon2">
                <i class="mdi mdi-lock fs-4"></i>
              </span>
              <input type="password" class="form-control form-control-lg" placeholder="Password" name="password"
                aria-label="Password" aria-describedby="basic-addon2" required />
            </div>
          </div>
        </div>
        <div class="row border-top border-secondary">
          <div class="col-12">
            <div class="form-group">
              <div class="pt-3">
                <a class="btn btn-info" id="to-recover" href="/user/signup">
                  SignUp
                </a>
                <button class="btn btn-success float-end text-white" type="submit">
                  Login
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    $(".preloader").fadeOut();
  </script>
</body>

</html>
